# fly.toml app configuration file generated for formfillai on 2025-12-23T12:35:30+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# fly.toml

app = "formfillai"
primary_region = "cdg"

[build]

[processes]
  app = "uvicorn main:app --host 0.0.0.0 --port 8000 --proxy-headers"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpus = 1
